/*列表框*/
.aplayer.aplayer-fixed {
  background: rgba(167, 232, 175, 0.6) !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
/* 圆角 */
.aplayer.aplayer-fixed .aplayer-list {
  border-radius: 10px 10px 0 0 !important;
}

/*主体*/
.aplayer.aplayer.aplayer-fixed .aplayer-body {
  background: rgba(167, 232, 175, 0.6) !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
}

/* 滚动条 */
.aplayer .aplayer-list ol::-webkit-scrollbar {
  width: 15px;
}
.aplayer .aplayer-list ol::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-color) !important;
}

.aplayer.aplayer-fixed .aplayer-lrc {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 98;
    pointer-events: none;
    text-shadow: -1px -1px 0 #fff;  
}

.aplayer .aplayer-lrc p {
color: #0ff5ff !important;
}